<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>単語の足し算・引き算</title>
    <link rel="stylesheet" type="text/css"　href="/static/css/style.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        function addOpe(ope_num){
            var all_word = document.getElementById('all_word');
            var input_word = document.getElementById('input_box').value;
            document.inputform.reset();

            if(ope_num == 1){
                all_word.innerHTML += input_word + " + ";
            }else if(ope_num == 2){
                all_word.innerHTML += input_word + " - ";
            }else{
                all_word.innerHTML += input_word + " = ";

                var fData = new FormData();
                // 空白の削除
                var data = all_word.innerHTML;
                fData.append('sentense', data);

                $.ajax({
                    type: 'POST',
                    url: '/postdata',
                    data: fData ,
                    contentType: false,
                    processData: false,
                    success: function(data, dataType) {
                        //通信成功 [200 OK 時]
                        console.log('Success');
                        var result = JSON.parse(data.ResultSet);
                        console.log(result)
                        $("#answer").text(result);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        //通信失敗
                        console.log('Error');
                    }
                });
 
            }
        }
    </script>

    <h1>単語の足し算・引き算</h1>
    
    <div id="all_word"></div>

    <form name="inputform">
        <p>入力 <input id="input_box" /></p>
    </form>
    <!-- <input type="button" value="+" name="+" onclick="addOpe(1)"> -->
    <!-- <input type="button" value="-" name="-" onclick="addOpe(2)"> -->
    <input type="button" value="=" name="=" onclick="addOpe(3)">

    <div id="answer"></div>

</body>
</html>